<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Data</title>  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0"> 
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/styles.css">


<body id="topScroll">

<header>
	
	<nav class="navbar navbar-expand-lg header-top-bar" id="navbar">
		<div class="container">			

			<div class="collapse navbar-collapse" id="navbarmain">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item "><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/visualization">Visualization</a></li>
					<li class="nav-item active"><a class="nav-link" href="/data">Data</a></li>					
				</ul>
			</div>
		</div>
	</nav>
</header>

	<section class="page-title bg-1">  
	  <div class="container">
		<div class="row">
		  <div class="col-md-12">
			<div class="block text-center">
			  <span class="text-white"></span>
			  <h1 class="text-capitalize mb-5 text-lg">Real Estate Prediction</h1>          
			</div>
		  </div>
		</div>
	  </div>
	</section>

	<section class="prediction mt-5">
		
			<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
			<script src="d3.min.js?v=3.2.8"></script>
	
			<script type="text/javascript"charset="utf-8">
				d3.text("Resources/final_combined_data.csv", function(data) {
					var parsedCSV = d3.csv.parseRows(data);
	
					var container = d3.select("body")
						.append("table")
	
						.selectAll("tr")
							.data(parsedCSV).enter()
							.append("tr")
	
						.selectAll("td")
							.data(function(d) { return d; }).enter()
							.append("td")
							.text(function(d) { return d; });
				});
			</script>
		
	</section>


	<!-- footer  -->
	<footer class="footer  gray-bg">
		<div class="container">	

			<div class="footer-btm py-4 mt-5">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-6">
						<div class="copyright">
							Copyright © 2022 </a>
						</div>
					</div>
					<div class="col-lg-6">
						
					</div>
				</div>
				
			</div>
		</div>
	</footer>
  
  </body>
</html>